:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);  
    --light-red: hsl(0, 100%, 63%); 
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);

    --ff-poppins: 'Poppins', sans-serif;
    --ff-open: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 1.125rem;
    font-family: var(--ff-open);
    background-color: var(--very-pale-blue);
}